#board {
    width: 640px;
    height: 640px;
    background-color: black;
}

.gr {
    /* background-color: #769656; */
    background-color: rgb(111,143,114);
    width: 80px !important;
    height: 80px !important;
    font-size: 20px !important;
    display: inline-block;
}

.piece_img {
    width: 80px;
    height: 80px;
}

.br {
    width: 80px !important;
    height: 80px !important;
    /* background-color: #baca44; */
    background-color: rgba(173,189,143, 0.5);
    font-size: auto !important;
    display: inline-block;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
    height: 80px;
}

