#board {
    width: 640px;
    height: 640px;
    background-image: url(https://arena.myfide.net/birman-gray.c336a76039b62027e3df.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.gr {
    /* background-color: #769656; */
    /* background-color: rgb(0,0,0,0.3); */
    width: 80px !important;
    height: 80px !important;
    font-size: 20px !important;
    display: inline-block;
}

.piece_img {
    width: 80px;
    height: 80px;
}


.br {
    width: 80px;
    height: 80px;
    /* background-color: #baca44; */
    /* background-color: rgba(255,189,143, 0.5); */
    font-size: auto !important;
    display: inline-block;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
    height: 80px;
}
